<h1>New Grade</h1>

<%= render 'form', grade: @grade %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<p align="center">
<%= link_to 'Back', grades_path, class: 'btn btn-default' %>
</p>