<h1>Editing Semester</h1>

<%= render 'form', semester: @semester %>

</br>
</br>
</br>
</br>
</br>
</br>
</br>

<p align="center">
<%= link_to 'Show', @semester, class: 'btn btn-default'%> |
<%= link_to 'Back', semesters_path, class: 'btn btn-default' %>
</p>