<h1>New Semester</h1>

<%= render 'form', semester: @semester %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<p align="center">
<%= link_to 'Back', semesters_path, class: 'btn btn-default' %>
</p>