<h1>Editing Student</h1>


<%= render 'form', student: @student %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<p align="center">
<%= link_to 'Show', @student, class: 'btn btn-default'%> |
<%= link_to 'Back', students_path, class: 'btn btn-default' %>
</p>