<h1>Editing User</h1>

<%= render 'form', user: @user %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<p align="center">
<%= link_to 'Show', @user, class: 'btn btn-default' %> |
<%= link_to 'Back', users_path , class: 'btn btn-default'%>
</p>