<h1>New Course Prereq</h1>

<%= render 'form', course_prereq: @course_prereq %>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<p align="center">
<%= link_to 'Back', course_prereqs_path, class: 'btn btn-default' %>
</p>