<h1>Editing Course</h1>

<%= render 'form', course: @course %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


<p align="center">
<%= link_to 'Show', @course, class: 'btn btn-default' %> |
<%= link_to 'Back', courses_path, class: 'btn btn-default' %>
</p>